<div class="itemRow item rightmenu" data-item-id="{{item._id}}">
    <div class="per45 text-over">
        <img class="inv-image" src="{{item.img}}" alt="{{item.name}}">
        &nbsp;
        <a class="item-edit">
            {{item.name}}
        </a>
        |
        {{#if (eq item.system.type "armor")}}
            {{localize (concat 'utopia.type.' item.system.slot)}}
        {{/if}}
        {{#ifCond item.system.amount ">" 1}}
            x{{item.system.amount}}
        {{/ifCond}}
    </div>
    <div class="per45">
        {{#if (eq item.system.type "armor")}}{{ localize 'utopia.item.armor' }}: {{item.system.block}} | {{item.system.dodge}}{{/if}}
    </div>
    <div class="per10">
        {{#if item.system.equipped}}
            <a class="toggle-equip" title="{{ localize 'utopia.item.equipped' }}"><i class="blk-icon fa-solid fa-shield"></i></a>
        {{else}}
            <a class="toggle-equip" title="{{ localize 'utopia.item.nEquipped' }}"><i class="blk-icon fa-regular fa-shield"></i></a>
        {{/if}}
        &nbsp;
    </div>
</div>