<div class="flex-column">
    <div class="itemColumn item-list">
        {{!-- weapons --}}
        <div class="itemRow bold">
            <div class="per45">
                {{ localize 'utopia.item.weapon' }}
            </div>
            <div class="per45">
                {{ localize 'utopia.item.description' }}
            </div>
            <div class="per10">
                {{ localize 'utopia.char.action' }}
            </div>
        </div>
        {{#each weapons as |item|}}
            {{> "systems/utopia/templates/actor/parts/weapon-partial.hbs" item=item}}
        {{/each}}

        {{!-- equipment --}}
        <div class="itemRow bold">
            <div class="per45">
                {{ localize 'utopia.item.equipment' }}
            </div>
            <div class="per45">
            </div>
            <div class="per10">
            </div>
        </div>
        {{#each equipment as |item|}}
            {{> "systems/utopia/templates/actor/parts/equipment-partial.hbs" item=item}}
        {{/each}}

        {{!-- consumables --}}
        <div class="itemRow bold">
            <div class="per45">
                {{ localize 'utopia.item.consumable' }}
            </div>
            <div class="per45">
            </div>
            <div class="per10">
            </div>
        </div>
        {{#each consumable as |item|}}
            {{> "systems/utopia/templates/actor/parts/consumable-partial.hbs" item=item}}
        {{/each}}

        {{!-- materials --}}
        <div class="itemRow bold">
            <div class="per45">
                {{ localize 'utopia.item.material' }}
            </div>
            <div class="per45">
            </div>
            <div class="per10">
            </div>
        </div>
        {{#each material as |item|}}
            {{> "systems/utopia/templates/actor/parts/material-partial.hbs" item=item}}
        {{/each}}
    </div>
</div>